
.login {
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  background: var(--clr-secondry);
  margin-top: -6rem;
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
}

form .error {
  padding: 0.5rem;
  border: 1px rgba(180, 230, 30, 0.25) solid;
  color: #ed2;
  border-radius: 0.25rem;
  background: rgba(180, 230, 30, 0.15);
  margin-bottom: 2rem;
  animation: showError 0.5s ease-out;
}
@keyframes showError {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.login::before {
  position: absolute;
  content: "";
  background-image: url("https://github.com/santdas36/netflix-ish/blob/main/papareact-day4/src/assets/nfbg.jpg?raw=true");
  background-size: cover;
  mix-blend-mode: overlay;
  mask-image: none;
  -webkit-mask-image: radial-gradient(
    ellipse farthest-side at 50% 50%,
    #2c3e50,
    rgba(0, 0, 0, 0.1)
  );
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.login form {
  background: rgba(23, 32, 50, 0.75);
  padding: 3rem;
  margin: 6rem 1.5rem 1.5rem 1.5rem;
  z-index: 99;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  border-radius: 1rem;
  width: 100%;
  max-width: 25rem;
}


.login__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.login__input__input {
  background: #2c3e50;
  padding: 0.6rem 0.75rem;
  width: 100%;
  border: 1px rgba(255, 255, 255, 0.15) solid;
  border-radius: 0.25rem;
  color: #fff;
  font-family: "Work Sans";
  font-weight: 500;
  transition: all 0.2s;
}
.login__input__label {
  opacity: 0.75;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  font-family: var(--ff-secondary);
}
.login__title {
    margin-left:auto;
    margin-right:auto;
  margin-bottom: 3rem;
}
.login__input__input:focus {
  border: 1px rgba(255, 255, 255, 0.5) solid;
  background: #4ca1af;
  outline: none;
}

.login__forgotPassword{
    margin-bottom: 1.5rem;
}

.login__button {
  background: var(--clr-accent1);
  padding: 0.65rem 0.75rem;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.2s;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 500;
  font-family: var(--ff-secondary);
}
.login__button:disabled {
  opacity: 0.6;
}
.login__button:hover {
  transform: scale(1.02);
}
.login__button:focus {
  transform: scale(0.98);
  outline: none;
}
.login__google {
  background: rgba(255, 255, 255, 0.05);
  border: 1px rgba(255, 255, 255, 0.5) solid;
  font-weight: 400;
}
.login__link {
  margin-top: 1.5rem;
  font-size: 0.95rem;
  font-family: var(--ff-secondary);
}
.login__link {
  opacity: 0.75;
}
.login__link a {
    color: var(--clr-accent1);
  font-weight: 800;
  text-decoration: none;
  transition: all 0.2s;
}
.login__link a:hover {
  text-decoration: underline !important;
}

@media (max-width: 550px) {
  .login,
  .login form {
    padding: 3rem 1.5rem;
  }
}
