.navbar{
    width: 100%;
    color: white;
    font-size: 1rem;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.4) 50%);

    /* Navbar Animation */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav-black{
    background-color: #111;
}

.nav-items {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.nav-left{
    list-style: none;
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 40px;
}

.nav-left li+li{
    margin-left: 2rem;
}

.nav-left li a{
    color : white;
    text-decoration: none;
    transition: all 0.4s;
}

.nav-left li a:hover{
    text-transform: uppercase;
    font-weight: 500;
}

.nav-left li a.active{
    text-transform: uppercase;
    font-weight: 600;
}


.nav-right{
    display: flex;
    align-items: center;
}


.avatar {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 1rem;
}

.options{
    display: none;
    background-color: #111;
    border-radius: 5px;
    padding-inline-start: 0;
}

.nav-profile li{
    padding: 10px;
    cursor: pointer;
    list-style: none;
}

.nav-profile:hover .nav-icon {
    transform: rotate(180deg);
    transition: all 0.2s;
}
.nav-profile:hover .options {
    display: flex;
    flex-direction: column;
    position: absolute;
}


    .nav-search {
        display: flex;
        align-items: center;
        background: transparent;
        padding: 0.25rem;
        padding-left: 0.375rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 99px;
        transition: width 0.2s;
        width: 2rem;
        height: 2rem;
        overflow: hidden;
        cursor: pointer;
    }
    
    .nav-search:hover{
        border : 2px solid rgba(255, 255, 255, 0.8);
        padding-left: .3rem;
    }

    .nav-search.open {
        width: 12rem;
    }
    
    .nav-searchIcon {
        margin-right: 0.375rem;
    }
    
    .nav-search input {
        background: transparent;
        color: #fff;
        border: none;
        width: 100%;
        padding-right: 0.5rem;
    }

   @media (max-width: 870px) {
        .nav-items{
            padding: 0px 10px;
        };
        .logo{
            margin-right: 20px;
        }
        .nav-left li+li{
            margin-left: 1rem;
        }
    }

    @media (max-width: 732px) {
        .nav-left li a{
            display: none;
        }
    }