.searchResult{
    min-height: 100vh;
    padding-bottom: 310px;
}

.noResultsFound{
    margin-top: 80px;
}
.noResultsFound h2{
    margin-left: 2rem;
	font-size: 1.5rem;
}

@media (max-width: 450px)
{
    .searchResult{
    padding-bottom: 420px;
    }
}