.banner{
    background-size: cover;
    background-position: center center;
    height: 448px;
    position: relative;
    color: white;
    object-fit: contain;
}

.banner-items{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
}
.category select {
    cursor: pointer;
    background-color: var(--main-color);
    border: 1px solid white;
    color: white;
    margin-left: 20px;
    padding: 5px;
}

#genre{
    z-index: 2;
}

.banner-title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner-description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

.banner-bottomFade{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
}

.banner-buttons {
    display: flex;
}
.banner-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
}
.banner-button-play {
    background-color: white;
    color: #0b0b0b;
}
.banner-button-info {
    background-color: gray;
    color: white;
}
.banner-buttons button span {
    margin-left: 5px;
}

.banner-button-play:hover{
    color: #e6e6e6;
    background-color: red;
    transition: all 0.2s ease-in-out;
}
.banner-button-info:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s ease-in-out;
}